.root {
    width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    /*margin: 50px auto;*/
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn{
    background-color: #1B1B21;
    border-radius: 0;
}
